.content {
    /* background-color: red; */
    padding: 20px 5px;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.card {
    flex: 1 1 calc(33.33% - 24px);
    max-width: calc(33.33% - 24px);
    background-color: transparent;
    color: #F1F1F1;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.vid-container video {
    max-width: 100%;
    border-radius: 5px;
}

.vid-container video:hover {
    cursor: pointer;
}

.vid-text {
    margin-top: 6px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}

.paraP-2 {
    margin-top: 3px;
    color: purple !important;
}

.paraP-2:hover {
    cursor: pointer;
}

.vid-text h5 {
    font-weight: 300;
}

.btm-txt {
    /* background-color: yellow; */
    margin-top: 5px;
    text-align: left;
    padding-right: 10px;
}

.content-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.ftr-btns {
    min-width: 1.5em;
    background-color: black;
    border-radius: 10em;
    color: #f4f4f4;
    font-size: 1.25rem;
    padding: 0.4em 0.8em 0.2em;
    border: none;
    text-transform: uppercase;
}

.ftr-btns:hover {
    cursor: pointer;
    background-color: white;
    color: #a975ff;
}

@media screen and (max-width: 1285px) {}

@media screen and (max-width: 1150px) {
    .card {
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 24px);
        padding: 5px;
    }

    .vid-container video {
        width: 100%;
    }

}


@media screen and (max-width: 745px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 8px;
    }

    .card-container {
        padding: 0px;
    }
}

@media screen and (max-width: 499px) {}